.navbar {
  height: 90px;
}

.navbarTitle {
  display: flex;
  align-items: center;
  --bs-navbar-brand-font-size: 26px;
  font-weight: bold;
  --bs-navbar-brand-color: #0d6efd;
}
.navbarLinkReg {
  --bs-navbar-active-color: green;
  --bs-nav-link-font-size: 20px;
  font-weight: 500;
}

.navbarLinkLog {
  --bs-navbar-active-color: red;
  --bs-nav-link-font-size: 20px;
  font-weight: 500;
}

.navbarUserContainer {
  display: flex;
  align-items: center;
}
