.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.registrationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
