.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.registrationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.alertMessage {
  margin-bottom: 0;
  margin-top: 15px;
  padding: 5px 90px;
}

.contactsContainer {
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
